@@include('../Shared/header.html', { "style": [ "assets/css/Pages/homepage.css" ] })
<div class="homepage">
  <section class="big-hero">
    <div class="banner-title">
      <h1>#katadata6</h1>
      <p>Dalam rangka memeriahkan ulang tahunnya yang keenam, Katadata membuat microsite khusus yang mencakup kegiatan perayaan dan
      kilas balik perjalanan selama enam tahun ke belakang. Di tahun ini, Katadata bertekad untuk terus menyajikan jurnalisme berkualitas
      dan produk serta aktivitas yang menjawab kebutuhan dunia bisnis dan ekonomi.</p>
      <ul class="sosmed-share visible-xs">
        <li>
            <a href="https://twitter.com/katadatanews" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="http://facebook.com/katadatanews" target="_blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
        </li>
        <li>
          <a href="https://plus.google.com/+KatadataId" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="multimedia">
    <div class="container">
      <div class="row margin-bottom-50">
        <article>
          <div class="col-md-2">
            <h3>
              <span>Congratulation Statements</span>
            </h3>
          </div>
          <div class="col-md-10">
            <div class="videoKD">
              <!-- <img src="assets/images/video-multimedia.jpg" alt=""> -->
              <iframe src="https://www.youtube.com/embed/7rQJvlCucgI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </article>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="slideNext button">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="slidePrev button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="videoSlides">
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=488GdtGK4i4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/488GdtGK4i4/maxresdefault.jpg" alt="">
              </a>
              <h4>Jusuf Kalla</h4>
              <p>Wakil Presiden Indonesia</p>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-1.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-1.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=r9iUwkUMbgE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/r9iUwkUMbgE/maxresdefault.jpg" alt="">
              </a>
              <h4>Jokowi Vlog</h4>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-2.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-2.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=obGWaC-GqR0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/obGWaC-GqR0/maxresdefault.jpg" alt="">
              </a>
              <h4>Luhut Binsar Panjaitan</h4>
              <p>Menteri Koordinator Bidang Kemaritiman</p>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-3.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-3.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=oHU1Pey7QS0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/oHU1Pey7QS0/maxresdefault.jpg" alt="">
              </a>
              <h4>Prof. Dr. Muhajir Effendy</h4>
              <p>Menteri Pendidikan dan Kebudayaan</p>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-4.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-4.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=696IQea-as8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/696IQea-as8/maxresdefault.jpg" alt="">
              </a>
              <h4>Joy Wahjudi</h4>
              <p>Presiden Direktur PT Indosat Tbk</p>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-5.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-5.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=wIEHnA-s7ec&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/wIEHnA-s7ec/maxresdefault.jpg" alt="">
              </a>
              <h4>Triawan Munaf</h4>
              <p>Kepala Badan Ekonomi Kreatif</p>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/ig_img/katadata-6_IG_-6.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/ig_img/katadata-6_IG_-6.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=qucMfeoS5_c&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/qucMfeoS5_c/maxresdefault.jpg" alt="">
              </a>
              <h4>Faisal Basri</h4>
            </div>

            <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div>

            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=hrNecYQb6Y8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/hrNecYQb6Y8/maxresdefault.jpg" alt="">
              </a>
              <h4>Enggartiasto Lukita</h4>
              <p>Menteri Perdagangngan</p>
            </div>

            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=_mpwqZbQxfw&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/_mpwqZbQxfw/maxresdefault.jpg" alt="">
              </a>
              <h4>Destry Damayanti</h4>
              <p>Anggota Dewan Komisioner LPS</p>
            </div>

            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div>
            <div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=nT_USNtDms0&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/nT_USNtDms0/maxresdefault.jpg" alt="">
              </a>
              <h4>Dr. Muhammad Chatib Basri</h4>
              <p>Mantan Menteri Keuangan</p>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=1YVjyVsaFjw&amp;autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/1YVjyVsaFjw/maxresdefault.jpg" alt="">
              </a>
              <h4>Mirza Adityaswara</h4>
              <p>Deputi Gubernur Senior Bank Indonesia</p>
            </div>
            
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=xcn-BAuYUcM&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/xcn-BAuYUcM/maxresdefault.jpg" alt="">
              </a>
              <h4>Garibaldi Thohir</h4>
              <p>Presiden Direktur PT Adaro Energy Tbk</p>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=YBed4fwJCWs&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/YBed4fwJCWs/maxresdefault.jpg" alt="">
              </a>
              <h4>Arief Patrick Rachmat</h4>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=HALsT9ykGZk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/HALsT9ykGZk/maxresdefault.jpg" alt="">
              </a>
              <h4>Dr. Sofyan A. Djalil</h4>
              <p>Menteri Agraria dan Tata Ruang</p>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=8xrQp9aq95I&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/8xrQp9aq95I/maxresdefault.jpg" alt="">
              </a>
              <h4>Rudiantara</h4>
              <p>Menteri Komunikasi dan Informatika</p>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
            <div>
              <a class="getFancyBox" data-fancybox href="https://www.youtube.com/watch?v=Fgtwxy23AT8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <img src="https://i3.ytimg.com/vi/Fgtwxy23AT8/maxresdefault.jpg" alt="">
              </a>
              <h4>Paulus Sutisna</h4>
              <p>Presiden Director PT Bank DBS Indonesia</p>
            </div>
            <!-- <div class="grafik">
              <a class="getFancyBox" data-fancybox href="assets/images/greeting-card.jpg">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <img src="assets/images/greeting-card.jpg" alt="">
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="artikel">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>
            <span>Editor's Pick</span>
          </h3>
        </div>
        <article>
          <div class="col-md-5">
            <figure>
              <img src="assets/images/half-width.jpg" alt="">
            </figure>
          </div>
          <div class="col-md-5">
            <h4>
              <a href="">6 Momen dan Peristiwa Penting seputar dunia ekonomi, bisnis, dan politik</a>
            </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam veritatis quam sequi aliquam alias vel libero suscipit, voluptates adipisci! Eveniet soluta, corrupti suscipit vitae fugiat aperiam eum accusantium facilis adipisci, labore nulla dolorum obcaecati consequuntur. Blanditiis totam repellendus commodi rerum dolorum quidem, perspiciatis, ad alias impedit expedita iure? Dolore, qui!</p>
            <a href="#" class="btn btn-block btn-blue">Baca selengkapnya »</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  
  <section class="artikel-lainnya">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3><span>Appreciation</span></h3>
          <p class="desc">Max 150 karakter. Deskripsi tentang section ini, apa yang dimaksud dengan appreciation. Deskripsi tentang section ini, apa
          yang dimaksud dengan appreciation.</p>
        </div>
        
          <div class="col-md-10">
              <div class="artikelNext button">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                
                <div class="artikelPrev button">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
            <div class="artikel-slides">
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/half-width.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/half-width.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat Ini 3 Tantangan</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/half-width.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/half-width.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
              <div class="artikelItem">
                <figure>
                  <img src="assets/images/half-width.jpg" alt="">
                </figure>
                <h4><a href="">Ini 3 Tantangan Utama Pemerintah versi Partai Demokrat</a></h4>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>
  <section class="artikel">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>
            <span>[KUIS] SEBERAPA KENAL ANDA DENGAN KATADATA?</span>
          </h3>
        </div>
        <article>
          <div class="col-md-5">
            <figure>
              <a href="#">
                <img src="assets/images/center-width.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="col-md-5">
            <figure>
              <a href="#">
                <img src="assets/images/center-width.jpg" alt="">
              </a>
            </figure>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="artikel">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>
            <span>Katadata Forum</span>
          </h3>
        </div>
        <article>
          <div class="col-md-5">
            <figure>
              <a data-fancybox href="assets/images/kd-forum-08052018.jpg">
                <img src="assets/images/kd-forum-08052018.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="col-md-5">
            <figure>
              <a data-fancybox href="assets/images/undangan-malam.jpg">
                <img src="assets/images/undangan-malam.jpg" alt="">
              </a>
            </figure>
          </div>
        </article>
      </div>
    </div>
  </section>
  
  <!-- 
</div>

@@include('../Shared/footer.html')
